{% extends 'base.html' %}
{% load static %}

{% block js %}
    <script>
        function recuperarSolicitud(id){
            Swal.fire({
                "title": "Estas Seguro?",
                "text": "La solicitud pasara a pendiente",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Recuperar Solicitud",
                "reverseButtons": true,
                "confirmButtonColor": "#178f13"
            })
            .then(function(result){
                if (result.isConfirmed){
                    window.location.href = "/recuperar_solicitud/"+id+"/"
                }
            })
        }

    </script>
{% endblock %}
{% block content %}
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de las Solicitudes Canceladas
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td style="width: 4cm"; height="4cm";>
                            <a href="#" onclick="recuperarSolicitud({{i.id}})" type="button" class="btn btn-success">
                                <i class="fas fa-recycle"></i>
                            </a>

                            <a href="#" type="button" class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}