{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block js %}

    <script>

         function generarModelo(){
            Swal.fire({
                "title": "Estas Seguro?",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Generar el Modelo",
                "reverseButtons": true,
                "confirmButtonColor": "#178f13"
            })
            .then(function(result){
                if (result.isConfirmed){
                    window.location.href = "/crear_modelo/"
                }
            })
        }

        $('#fecha_inicio').datetimepicker({
            format: 'L'
        });
    </script>
{% endblock %}
{% block content %}
<form action="" method="post" id="" enctype="multipart/form-data">
    <div class="card card-default">
        <div class="card-body ">
            {% csrf_token %}

            <div class=" form-group form-card text-center">
                <div class="container">
                    <!---Aqui comienza a crear el formulario--->
<!--                    {{form | crispy}}-->
                    <div class="modal-content">
                        <div class="modal-header btn-primary" style="height: 2cm";>
		                    <h4 class="modal-title">{{title}}</h4>
	                    </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!---Solicitante-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Solicita:</label>
                                            <div class="col-sm-5">
                                                {{form.solicitante}}
                                            </div>
                                    </div>
                                    <!---Fin Solicitante-->
                                    <!---Trabajador-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Trabajador:</label>
                                            <div class="col-sm-5">
                                                {{form.trabajador}}
                                            </div>
                                    </div>
                                    <!---Fin Trabajador-->
                                    <!---UO-->
<!--                                    <div class="form-group row">-->
<!--				                        <label class="col-sm-4 col-form-label">Unidad Organizativa:</label>-->
<!--				                            <div class="col-sm-5">-->
<!--                                                {{form.unidad_organizativa}}-->
<!--                                            </div>-->
<!--			                        </div>-->
                                    <!---Fin UO-->
                                    <!---Centro Contable-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Centro Contable:</label>
                                            <div class="col-sm-5">
                                                {{form.c_contable}}
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Con Cargo al Presupuesto:</label>
                                            <div class="col-sm-5">
                                                {{form.cargo_presupuesto}}
                                            </div>
                                    </div>
                                    <!---Fin Centro COntable-->
                                    <!---Provincia-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Provincia:</label>
				                            <div class="col-sm-5">
                                                {{form.provincia}}
                                            </div>
			                        </div>
                                    <!---Fin Provincia-->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Origen:</label>
				                            <div class="col-sm-5">
                                                {{form.origen}}
                                            </div>
			                        </div>
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Destino:</label>
				                            <div class="col-sm-5">
                                                {{form.destino}}
                                            </div>
                                    </div>
                                    <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Regreso:</label>
				                        <div class="col-sm-5">
                                            {{form.regreso}}
                                        </div>
			                        </div>
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Fecha de Inicio:</label>
				                            <div class="col-sm-5">
					                            <div id="fecha_inicio" data-target-input="nearest" class="input-group date">
						                            <input type="date" name="fecha_inicio" class="dateinput form-control" required="" id="id_fecha_inicio">
					                            </div>
				                            </div>
			                        </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Fecha Final:</label>
                                            <div class="col-sm-5">
                                                <div id="finaldate" data-target-input="nearest" class="input-group date input-with-post-icon datepicker">
                                                    <input type="date" name="fecha_final" class="dateinput form-control datepicker" required id="id_fecha_final">
                                                </div>
                                            </div>
			                        </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Persona autorizada a Recibir y Loquidar el efectivo del grupo:</label>
                                            <div class="col-sm-5">
                                                {{form.parleg}}
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Autoriza:</label>
				                            <div class="col-sm-4">
                                                {{form.autoriza}}
                                            </div>
			                        </div>
                            </div>

                            <div class="form-group row">
                                        <label class=" col-form-label">Observaciones:</label>
				                            <div class="">
                                                {{form.observaciones}}
                                            </div>
			                        </div>
                            {% if perms.app.add_solicitud or perms.app.change_solicitud %}
                            {% if action == 'add' %}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Agregar
                    </button>
                            {% else %}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Editar
                    </button>
                            {% endif %}
                            {% endif %}
                    </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</form>
    <div class=" card card-default">
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th  style="width: 5cm"; height="4cm";>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td style="width: 5cm"; height="4cm"; class="ml-3 pl-3">
<!--                            <a href="#" type="button" class="btn btn-warning">-->
<!--                                <i class="fas fa-file"></i>-->
<!--                            </a>-->
                            <a href="{% url 'solicitudEdit' i.id %}" type="button" class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" onclick="eliminarSolicitud({{i.id}})" type="button" class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" card-footer mt-3">
            {% if perms.app.add_modelo %}
            <a href="#" onclick="generarModelo()" type="button" class="btn btn-primary btn-success">
                <i class="fas fa-check"></i>
                Generar Modelo
            </a>
            {% endif %}
        </div>
    </div>


{% endblock %}