{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block js %}
    <script>

         function generarModelo(){
            Swal.fire({
                "title": "Estas Seguro?",
                "text": "Esta accion no se puede deshacer",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Aceptar Solicitudes",
                "reverseButtons": true,
                "confirmButtonColor": "#178f13"
            })
            .then(function(result){
                if (result.isConfirmed){
                    window.location.href = "/crear_modelo/"
                }
            })
        }
    </script>
{% endblock %}
{% block content %}
<form action="." method="post" id="" enctype="multipart/form-data">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                <i class="bi bi-plus-circle "></i>
                {% else %}
                <i class="bi bi-pencil-square "></i>
                {% endif %}
                {{title}}
            </h3>
        </div>
        <div class="card-body ">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{action}}">
            {% if form.errors %}
            <div class=" alert alert-danger alert-dismissible">
                <button type="button" class=" close" data-dismiss="alert" aria-hidden="true">x</button>
                <h5><i class="icon bi bi-x-octagon"></i>Ha ocurrido un error al agregar el registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                    {% endfor %}

                </ul>
            </div>
            {% endif %}
            <div class=" form-group form-card text-center">
                <div class="container">
                    <!---Aqui comienza a crear el formulario--->
<!--                {{form | crispy}}-->
                    <!---Formulario Tiza-->
                    <div class="modal-content">
                        <div class="modal-header btn-primary">
		                    <h4 class="modal-title">Agregar Solicitud</h4>
	                    </div>
                        <div class="modal-body"><div class="row">
                            <div class="col-sm-6">

                                <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Solicitante:</label>
				                        <div class="col-sm-8">
                                            {{form.solicitante}}
                                        </div>
			                    </div>

                                <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Trabajador:</label>
				                        <div class="col-sm-8">
                                            {{form.trabajador}}
                                        </div>
			                    </div>

                                <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Unidad Organizativa:</label>
				                        <div class="col-sm-8">
                                            {{form.unidad_organizativa}}
                                        </div>
			                    </div>
                                <!---Nuevo-->
                                <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Centro Contable:</label>
				                        <div class="col-sm-7">
                                            {{form.c_contable}}
				                        </div>
			                    </div>
                                <!---Fin Nuevo-->
                            </div>
                        </div>
                    </div>
                    <!---Se acaba el formulario tiza-->

<!--            <button type="submit" class=" btn btn-success ml-5 ">-->
<!--            <i class="bi bi-plus"></i>-->
<!--        </button>-->
        </div>

    </div>
<!--    <div class=" card-footer mt-3 px-5">-->

<!--        <a href="{% url 'solicitudes' %}">-->
<!--            <button type="button" class=" btn btn-danger">-->
<!--                <i class="bi bi-x"></i> Cancelar-->
<!--            </button>-->
<!--        </a>-->
<!--    </div>-->
    </div>
</form>
    <div class=" card card-default">
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td style="width: 4cm"; height="4cm";>
                            <a href="#" onclick="aceptarSolicitud({{i.id}})" type="button" class="btn btn-success">
                                <i class="fas fa-check"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-warning">
                                <i class="fas fa-file"></i>
                            </a>
                            <a href="#" onclick="eliminarSolicitud({{i.id}})" type="button" class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" card-footer mt-3">
            <a href="#" onclick="generarModelo()" type="button" class="btn btn-primary btn-success">
                <i class="fas fa-check"></i>
                Generar Modelo
            </a>
        </div>
    </div>


{% endblock %}