{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block js %}

    <script>

         function generarModelo(){
            Swal.fire({
                "title": "Estas Seguro?",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Generar el Modelo",
                "reverseButtons": true,
                "confirmButtonColor": "#178f13"
            })
            .then(function(result){
                if (result.isConfirmed){
                    window.location.href = "/crear_modelo/"
                }
            })
        }

        $('#fecha_inicio').datetimepicker({
            format: 'L'
        });
    </script>
{% endblock %}
{% block content %}
<form action="" method="post" id="" enctype="multipart/form-data">
    <div class="card card-default">
        <div class="card-body ">
            {% csrf_token %}

            <div class=" form-group form-card text-center">
                <div class="container">
                    <!---Aqui comienza a crear el formulario--->
<!--                    {{form | crispy}}-->
                    <div class="modal-content">
                        <div class="modal-header btn-primary" style="height: 2cm";>
		                    <h4 class="modal-title">{{title}}</h4>
	                    </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <!---Solicitante-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Solicita:</label>
                                            <div class="col-sm-5">
                                                {{form.solicitante}}
                                            </div>
                                    </div>
                                    <!---Fin Solicitante-->
                                    <!---Trabajador-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Trabajador:</label>
                                            <div class="col-sm-5">
                                                {{form.trabajador}}
                                            </div>
                                    </div>
                                    <!---Fin Trabajador-->
                                    <!---UO-->
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Unidad Organizativa:</label>
				                            <div class="col-sm-5">
                                                {{form.unidad_organizativa}}
                                            </div>
			                        </div>
                                    <!---Fin UO-->
                                    <!---Centro Contable-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Centro Contable:</label>
                                            <div class="col-sm-5">
                                                {{form.c_contable}}
                                            </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Con Cargo al Presupuesto:</label>
                                            <div class="col-sm-5">
                                                {{form.cargo_presupuesto}}
                                            </div>
                                    </div>
                                    <!---Fin Centro COntable-->
                                    <!---Provincia-->
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Provincia:</label>
				                            <div class="col-sm-5">
                                                {{form.provincia}}
                                            </div>
			                        </div>
                                    <!---Fin Provincia-->
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Origen:</label>
				                            <div class="col-sm-5">
                                                {{form.origen}}
                                            </div>
			                        </div>
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Destino:</label>
				                            <div class="col-sm-5">
                                                {{form.destino}}
                                            </div>
                                    </div>
                                    <div class="form-group row">
				                    <label class="col-sm-4 col-form-label">Regreso:</label>
				                        <div class="col-sm-5">
                                            {{form.regreso}}
                                        </div>
			                        </div>
                                    <div class="form-group row">
				                        <label class="col-sm-4 col-form-label">Fecha de Inicio:</label>
				                            <div class="col-sm-5">
					                            <div id="fecha_inicio" data-target-input="nearest" class="input-group date">
						                            {{form.fecha_inicio}}
						                                <div data-target="#fecha_inicio" data-toggle="datetimepicker" class="input-group-append">
							                                <div class="input-group-text"><i class="fa fa-calendar"></i>
							                                </div>
						                                </div>
					                            </div>
				                            </div>
			                        </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Fecha Final:</label>
                                            <div class="col-sm-5">
                                                <div id="finaldate" data-target-input="nearest" class="input-group date">
                                                    {{form.fecha_final}}
                                                        <div data-target="#reservationdate" data-toggle="datetimepicker" class="input-group-append">
                                                            <div class="input-group-text"><i class="fa fa-calendar"></i>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
			                        </div>
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Persona autorizada a Recibir y Loquidar el efectivo del grupo:</label>
                                            <div class="col-sm-5">
                                                {{form.parleg}}
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Autoriza:</label>
				                            <div class="col-sm-4">
                                                {{form.autoriza}}
                                            </div>
			                        </div>
                            </div>
                            {% if action == 'add' %}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Agregar
                    </button>
                            {% else %}
                    <button type="submit" class="btn btn-primary"><i class="fa fa-edit"></i> Editar
                    </button>
                            {% endif %}
                    </div>
                </div>

                </div>
            </div>

        </div>
    </div>
</form>
{% endblock %}