{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row pl-5 pr-5" >
         <div>
            <div class="small-box bg-success">
                <div class="inner">
                    <h1 style="color: white;" class="text-center">
                        Modelos
                    </h1>
                </div>
                <div class="icon"><i class="fas fa-check-square"></i>
                </div>
                <a href="{% url 'listarMod' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de las Solicitudes de Dietas
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td>{{i.estado}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" card-footer mt-3">
            <a href="{% url 'crear_solicitud' %}" type="button" class="btn btn-primary btn-success">
                <i class="fas fa-plus"></i>
                Agregar Solicitud
            </a>
        </div>
    </div>
{% endblock %}