{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row pl-3 pr-3" >

        <div class="col-lg-3 ">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{cantP}}</h3> <p>Pendientes</p>
                </div> <div class="icon"><i class="fa fa-question"></i>
            </div>
                <a href="{% url 'pendientes' %}" class="small-box-footer">
                    Ver listado <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-6 ">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 style="color: white;">{{cantA}}</h3> <p style="color: white;">Aceptadas</p>
                </div>
                <div class="icon"><i class="fas  fa-check"></i>
                </div>
                <a href="{% url 'aceptadas' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-6 ">
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>{{cantC}}</h3> <p>Cancelada</p>
                </div>
                <div class="icon"><i class="fas fa-times-circle"></i>
                </div>
                <a href="{% url 'canceladas' %}" class="small-box-footer">
                Ver listado <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
         <div class="col-lg-3 col-6 ">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3 style="color: white;">{{cantAut}}</h3> <p style="color: white;">Autorizadas</p>
                </div>
                <div class="icon"><i class="fas fa-check-square"></i>
                </div>
                <a href="{% url 'autorizadas' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>
            </div>
        </div>
    </div>
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de las Solicitudes de Dietas
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" card-footer mt-3">
            <a href="{% url 'crear_solicitud' %}" type="button" class="btn btn-primary btn-success">
                <i class="fas fa-plus"></i>
                Agregar Solicitud
            </a>
        </div>
    </div>
{% endblock %}