{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row pl-5 pr-5 ml-5" >
         <div class="col-lg-3 col-6 ml-5">
            <div class="small-box bg-success">
                <div class="inner">
                    <h1 style="color: white;" class="text-center">
                        Solicitudes Aceptadas
                    </h1>
                </div>
                <div class="icon"><i class="fas fa-check-square"></i>
                </div>
                {% if perms.app.view_modelo %}
                <a href="{% url 'listarMod' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>

                {% else %}
                <a href="#" class="small-box-footer" style="color: white !important;">
                No tiene permisos para ver los Modelos <i class="fas fa-eye-slash" style="color: white;"></i>
                </a>
                {% endif %}
            </div>
            </div>

        <div class="col-lg-3 col-6 ml-5">
            <div class="small-box btn-primary">
                <div class="inner">
                    <h1 style="color: white;" class="text-center">
                        Solicitudes Archivadas
                    </h1>
                </div>
                <div class="icon"><i class="fas fa-folder"></i>
                </div>
                {% if perms.app.view_modelo %}
                <a href="{% url 'listarModArch' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>

                {% else %}
                <a href="#" class="small-box-footer" style="color: white !important;">
                No tiene permisos para ver los Modelos <i class="fas fa-eye-slash" style="color: white;"></i>
                </a>
                {% endif %}
            </div>
            </div>

        <div class="col-lg-3 col-6 ml-5">
        <div class="small-box bg-danger">
                <div class="inner">
                    <h1 style="color: white;" class="text-center">
                        Solicitudes Canceladas
                    </h1>
                </div>
                <div class="icon"><i class="fas fa-times-circle"></i>
                </div>
                {% if perms.app.view_modelo %}
                <a href="{% url 'listarModCancel' %}" class="small-box-footer" style="color: white !important;">
                Ver listado <i class="fas fa-arrow-circle-right" style="color: white;"></i>
                </a>

                {% else %}
                <a href="#" class="small-box-footer" style="color: white !important;">
                No tiene permisos para ver los Modelos <i class="fas fa-eye-slash" style="color: white;"></i>
                </a>
                {% endif %}
            </div>

        <div class="col-lg-4 col-6"></div>
            </div>
             
        </div>
    </div>
    <div class=" card card-default">
   
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de las Solicitudes de Dietas
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
         {% if perms.app.add_solicitud %}
             <div class=" card-footer mt-3">
            <a href="{% url 'crear_solicitud' %}" type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i>
                Agregar Solicitud
            </a>
        </div>
             {% endif %}
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td>{{i.estado}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}