<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        table, th, td, tr {
            border: solid black;
            border-collapse: collapse;
            padding: 1px;
        }
        @page {
            size: letter landscape;
            margin: 0.5cm;
        }
    </style>
</head>
<body style="width: max-content;">
    <div style="display: flex; justify-content: space-between; margin-right: 15vw; align-items: center;">
        <img src="{% static 'etecsa.png' %}" width="170px" alt="">
        <h4 style="display: flex; justify-content: center;">SOLICITUD DE DIETAS</h4>
        <div>
            <div>Fecha: 03/08/22</div>
            <div>Telefono solicit.: 47354167</div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between;">
        <div style="width: 30vw;">
            <table style="position: relative; float: left; width: max-content; border-bottom: hidden;">
                <td style="width: 4.4cm; height: 0.4cm; font-size: 0.83rem;";>AUTORIZA(3)</td>
            </table>
            <table style="position: relative; float: left">
                <tr>
                <td style="width: 4.4cm; height: 0.7cm";>Firma </td>
                </tr>
                <td style="width: 4.4cm; height: 0.4cm"; >Nombre y Apellidos</td>
                <td style="width: 6.6cm">{{modelo.autoriza}}</td>
                <tr>
                <td style="width: 4.4cm; height: 0.4cm";>Cargo:</td>
                <td>{{modelo.cargo_autoriza}}</td>
                </tr>
                <tr>
                    <td style="width: 4.4cm; height: 0.4cm";>Dependencia</td>
                    <td>{{modelo.dependencia_autoriza}}</td>
                </tr>
            </table>
        </div>
        <div style="width: 30vw;">
            <table style="position: relative; float: left; width: max-content; border-bottom: hidden;">
                <tr>
                <td style="width: 4.4cm; height: 0.4cm; font-size: 0.83rem;";>AUTORIZA(4)</td>
                </tr>
            </table>
            <table style="position: relative; float: left">
                <tr>
                <td style="width: 4.4cm; height: 0.7cm";>Firma </td>
                </tr>
                <td style="width: 4.4cm; height: 0.4cm"; >Nombre y Apellidos</td>
                <td style="width: 6.6cm">{{modelo.autoriza}}</td>
                <tr>
                <td style="width: 4.4cm; height: 0.4cm";>Cargo:</td>
                <td>{{modelo.cargo_autoriza}}</td>
                </tr>
                <tr>
                    <td style="width: 4.4cm; height: 0.4cm";>Dependencia</td>
                    <td>{{modelo.dependencia_autoriza}}</td>
                </tr>
            </table>
        </div>
    </div>
        <div style="height: 0.9cm;">
            <p>TIPO DE SOLICITUD(5):</p>
        </div>

        <table style="margin-top: 2rem; width: auto;">
            <thead>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">(6)</th>
                <th style="width: 3.8cm; height: 0.5cm;">(7)</th>
                <th style="width: 2.2cm; height: 0.5cm;">(8)</th>
                <th style="width: 1.4cm; height: 0.5cm;">(9)</th>
                <th style="width: 1.5cm; height: 0.5cm;">(10)</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="3">Provincias</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="2">Dieta</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="2">Hospedaje</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="2">Pasaje</th>
                <th rowspan="2" colspan="2">Via Transportacion</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;"> </th>
                <th style="width: 3.8cm; height: 0.5cm;"> </th>
                <th style="width: 2.2cm; height: 0.5cm;">Carne</th>
                <th style="width: 1.7cm; height: 0.5cm;">Unidad</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2">C. Contable que entrega anticipo</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">No</th>
                <th style="width: 3.8cm; height: 0.5cm;">Nombre y Apellidos</th>
                <th style="width: 2.2cm; height: 0.5cm;">Identidad</th>
                <th style="width: 1.7cm; height: 0.5cm;">Organizativa</th>
                <th style="width: 1.7cm; height: 0.5cm;">Origen(11)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Destino(12)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Regreso(13)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Desde(14)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Hasta(15)</th>
                <th style="width: 1.5cm; height: 0.5cm;">Entrada(16)</th>
                <th style="width: 1.5cm; height: 0.5cm;">Salida(17)</th>
                <th style="width: 1cm; height: 0.5cm;">Ida(18)</th>
                <th style="width: 1.7cm; height: 0.5cm;" >Regreso(19)</th>
                <th>Ida(20)</th>
                <th style="font-size: 6px">Regreso(21)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in soli %}
                    <tr style="text-align: center">
                        <td style="text-align: center">1</td>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="16" style="height: 0.7cm">LABOR A REALIZAR: MTTO. GENERAL AL CTLP SAN CRISTOBAL</td>
                    </tr>
                    <tr>
                        <th colspan="7" style="text-align: left; height: 0.4cm;">PERSONA AUTORIZADA A RECIBIR Y LIQUIDAR EL EFECTIVO DEL GRUPO(23)</th>
                        <td colspan="9">OBSERVACIONES(24): </td>
                    </tr>
                    <tr>
                        <td colspan="7">NOMBRE Y APELLIDOS: {{modelo.parleg}}</td>
                        {% if modelo.observaciones != none %}
                        <td colspan="9" rowspan="2" style="text-align: center">
                            {{modelo.observaciones}}
                        </td>
                        {% else %}
                        <td colspan="9" rowspan="2" style="text-align: center">
                        </td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td colspan="7" style="height: 0.8cm;">FIRMA:</td>
                    </tr>
                    <tr>
                        <td colspan="7" style="height: 0.3cm">CONFECCIONADO POR (25):</td>
                        <td colspan="7" style="height: 0.3cm">RECIBIDO POR (26):</td>
                        <td rowspan="4" colspan="2" style="height: 0.3cm">CONSEC
                        {{modelo.consec}}</td>
                    </tr>
                    <tr>
                        <td colspan="7">NOMBRE Y APELLIDOS: {{modelo.nombre}}</td>
                        <td colspan="7">NOMBRE Y APELLIDOS: </td>
                    </tr>
                    <tr>
                        <td colspan="7" style="height: 1.2cm">FIRMA:</td>
                        <td colspan="7" style="height: 1.2cm">FIRMA:</td>
                    </tr>
                    <tr>
                        <td colspan="7">CON CARGO AL PRESUPUESTO: {{modelo.cargo_presupuesto}}</td>
                        <td colspan="7">FECHA</td>
                    </tr>
            </tbody>
        </table>
</body>
</html>