<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        table, th, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1px;
        }
    </style>
</head>
<body>
            <table class="table">
                <tr>
                <td class="row-border" style="width: 15%; height: 0.4cm";>AUTORIZA(3)</td>
                </tr>
            </table>
            <table>
                <tr>
                <td style="width: 4.4cm; height: 0.7cm";>Firma </td>
                </tr>
                <td style="width: 15%; height: 0.4cm"; >Nombre y Apellidos</td>
                <td style="width: 6.6cm">{{modelo.autoriza}}</td>
                <tr>
                <td style="width: 15%; height: 0.4cm";>Cargo:</td>
                <td>Director Territorial</td>
                </tr>
                <tr>
                    <td style="width: 15%; height: 0.4cm";>Dependencia</td>
                    <td>DT Artemisa</td>
                </tr>
            </table>
</body>
</html>