<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        table, th, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1px;
        }
        @page {
            size: letter landscape;
            margin: 2cm;
        }
    </style>
</head>
<body>
<!--<img src="{% static 'etecsa.png' %}" alt="">-->
        <div class="col">
            <h5>SOLICITUD DE DIETAS</h5>
            <table class="table">
                <tr>
                <td class="row-border" style="width: 15%; height: 0.4cm";>AUTORIZA(3)</td>
                </tr>
            </table>
            <table>
                <tr>
                <td style="width: 4.4cm; height: 0.7cm";>Firma </td>
                </tr>
                <td style="width: 15%; height: 0.4cm"; >Nombre y Apellidos</td>
                <td style="width: 6.6cm">{{modelo.autoriza}}</td>
                <tr>
                <td style="width: 15%; height: 0.4cm";>Cargo:</td>
                <td>Director Territorial</td>
                </tr>
                <tr>
                    <td style="width: 15%; height: 0.4cm";>Dependencia</td>
                    <td>DT Artemisa</td>
                </tr>
            </table>
        </div>
        <div style="height: 0.9cm;">
            <p>TIPO DE SOLICITUD(5):</p>
        </div>

        <table class="mt-3">
            <thead>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">(6)</th>
                <th style="width: 3.8cm; height: 0.5cm;">(7)</th>
                <th style="width: 2.2cm; height: 0.5cm;">(8)</th>
                <th style="width: 1.4cm; height: 0.5cm;">(9)</th>
                <th style="width: 1.7cm; height: 0.5cm;">(10)</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="3">Provincias</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="2">Dieta</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;"> </th>
                <th style="width: 3.8cm; height: 0.5cm;"> </th>
                <th style="width: 2.2cm; height: 0.5cm;">Carne</th>
                <th style="width: 1.7cm; height: 0.5cm;">Unidad</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2">C. Contable que entrega anticipo</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">No</th>
                <th style="width: 3.8cm; height: 0.5cm;">Nombre y Apellidos</th>
                <th style="width: 2.2cm; height: 0.5cm;">Identidad</th>
                <th style="width: 1.7cm; height: 0.5cm;">Organizativa</th>
                <th style="width: 1.7cm; height: 0.5cm;">Origen(11)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Destino(12)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Regreso(13)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Desde(14)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Hasta(15)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in soli %}
                    <tr style="text-align: center">
                        <td style="text-align: center">1</td>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="10" style="height: 0.7cm">LABOR A REALIZAR: MTTO. GENERAL AL CTLP SAN CRISTOBAL</td>
                    </tr>
                    <tr>
                        <th colspan="5" style="height: 0.4cm;">PERSONA AUTORIZADA A RECIBIR Y LIQUIDAR EL EFECTIVO DEL GRUPO(23)</th>
                        <td colspan="5">OBSERVACIONES(24):
                        {{modelo.observaciones}}</td>
                    </tr>
                    <tr>
                        <td colspan="5">NOMBRE Y APELLIDOS: {{modelo.parleg}}</td>
                        <td colspan="5" rowspan="2"></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height: 0.8cm;">FIRMA:</td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height: 0.3cm">CONFECCIONADO POR (25):</td>
                        <td colspan="4" style="height: 0.3cm">RECIBIDO POR (26):</td>
                        <td rowspan="4" style="height: 0.3cm">CONSEC
                        {{modelo.consec}}</td>
                    </tr>
                    <tr>
                        <td colspan="5">NOMBRE Y APELLIDOS: {{modelo.nombre}}</td>
                        <td colspan="4">NOMBRE Y APELLIDOS: </td>
                    </tr>
                    <tr>
                        <td colspan="5" style="height: 1.2cm">FIRMA:</td>
                        <td colspan="4" style="height: 1.2cm">FIRMA:</td>
                    </tr>
                    <tr>
                        <td colspan="5">CON CARGO AL PRESUPUESTO: {{modelo.cargo_presupuesto}}</td>
                        <td colspan="4">FECHA</td>
                    </tr>
            </tbody>
        </table>
</body>
</html>