<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        table, th, td, tr {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 1px;
        }
        @page {
            size: letter landscape;
            margin: 2cm;
        }
    </style>
</head>
<body>
        <div class="col">
            <table class="table">
                <tr>
                <td class="row-border" style="width: 15%; height: 0.4cm";>AUTORIZA(3)</td>
                </tr>
            </table>
            <table>
                <tr>
                <td style="width: 4.4cm; height: 0.7cm";>Firma </td>
                </tr>
                <td style="width: 15%; height: 0.4cm"; >Nombre y Apellidos</td>
                <td style="width: 6.6cm">{{modelo.autoriza}}</td>
                <tr>
                <td style="width: 15%; height: 0.4cm";>Cargo:</td>
                <td>Director Territorial</td>
                </tr>
                <tr>
                    <td style="width: 15%; height: 0.4cm";>Dependencia</td>
                    <td>DT Artemisa</td>
                </tr>
            </table>
        </div>
        <div style="height: 0.9cm;">
            <p>TIPO DE SOLICITUD(5):</p>
        </div>

        <table class="mt-3">
            <thead>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">(6)</th>
                <th style="width: 3.8cm; height: 0.5cm;">(7)</th>
                <th style="width: 2.2cm; height: 0.5cm;">(8)</th>
                <th style="width: 1.4cm; height: 0.5cm;">(9)</th>
                <th style="width: 1.7cm; height: 0.5cm;">(10)</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="3">Provincias</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2" colspan="2">Dieta</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;"> </th>
                <th style="width: 3.8cm; height: 0.5cm;"> </th>
                <th style="width: 2.2cm; height: 0.5cm;">Carne</th>
                <th style="width: 1.7cm; height: 0.5cm;">Unidad</th>
                <th style="width: 1.7cm; height: 0.5cm;" rowspan="2">C. Contable que entrega anticipo</th>
            </tr>
            <tr>
                <th style="width: 0.6cm; height: 0.5cm;">No</th>
                <th style="width: 3.8cm; height: 0.5cm;">Nombre y Apellidos</th>
                <th style="width: 2.2cm; height: 0.5cm;">Identidad</th>
                <th style="width: 1.7cm; height: 0.5cm;">Organizativa</th>
                <th style="width: 1.7cm; height: 0.5cm;">Origen(11)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Destino(12)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Regreso(13)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Desde(14)</th>
                <th style="width: 1.7cm; height: 0.5cm;">Hasta(15)</th>
            </tr>
            </thead>
            <tbody>
            {% for i in  %}
            </tbody>
        </table>
</body>
</html>