{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de los Modelos
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Consecutivo</th>
                        <th>Creador</th>
                        <th>Solicitante</th>
                        <th>Unidad Organizativa</th>
                        <th>Centro Contable</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;"><a href="{% url 'solicitudModel' i.id%} ">{{i.consec}}</a></td>
                        <td style="width: 150px;"><a href="{% url 'solicitudModel' i.id%} ">{{i.nombre}}</a></td>
                        <td style="width: 150px;">{{solicitante}}</td>
                        <td style="width: 150px;">{{uo}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}