{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-exclamation-triangle bi bi-search"></i>
                Listado de las Solicitudes Autorizadas
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Nombre y Apellidos</th>
                        <th>Carnet de Identidad</th>
                        <th>Unidad Organizativa</th>
                        <th>C. Contable que entrega el anticipio</th>
                        <th>Origen</th>
                        <th>Destino</th>
                        <th>Regreso</th>
                        <th>Desde</th>
                        <th>Hasta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in object_list %}
                    <tr>
                        <td style="width: 150px;">{{i.trabajador}}</td>
                        <td>{{i.trabajador.ci}}</td>
                        <td>{{i.unidad_organizativa}}</td>
                        <td style="width: 80px;">{{i.c_contable}}</td>
                        <td>{{i.origen}}</td>
                        <td>{{i.destino}}</td>
                        <td>{{i.regreso}}</td>
                        <td>{{i.fecha_inicio}}</td>
                        <td>{{i.fecha_final}}</td>
                        <td>
                            <a href="#" type="button" class="btn btn-warning">
                                <i class="fas fa-file"></i>
                            </a>
                            <a href="#" onclick="eliminarSolicitud({{i.id}})" type="button" class="btn btn-danger">
                                <i class="fas fa-times-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

            <a href="#" type="button" class="btn btn-primary btn-warning ml-3 pl-3 mb-3 center" style="height: 1cm; width: 5cm";>
                <i class="fas fa-file"></i>
                Cargar en Modelo
            </a>
        </div>
    </div>
{% endblock %}